<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  <div class="c-sidebar-brand d-lg-down-none">
    <svg class="c-sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
    </svg>
    <svg class="c-sidebar-brand-minimized" width="46" height="46" alt="CoreUI Logo">
    </svg>
  </div>
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item">
      <a class="c-sidebar-nav-link" href="explorer">
        <i class="fas fa-search c-sidebar-nav-icon"></i> Explorer
      </a>
    </li>

    <li class="c-sidebar-nav-item">
      <a class="c-sidebar-nav-link" href="/addBounty">
        <i class="far fa-plus-square c-sidebar-nav-icon"></i> Add New Bounty
      </a>
    </li>

      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/myBounties">
          <i class="fas fa-th c-sidebar-nav-icon"></i> My Bounties
        </a>
      </li>
  </ul>
  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>