<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./../">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <title>Bounty</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.bootstrap-v4.min.css"> -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <link rel="stylesheet" type="text/css" href="../bower_components/toastr/toastr.css">
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/preloader.css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> -->
    <!-- <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"> -->
    <link rel="stylesheet" href="/css/localStyle.css">

  </head>
  <body class="c-app">
    <%- include('../partials/sidebar.html'); %>
    <div class="c-wrapper c-fixed-components">
      <%- include('../partials/header.html'); %>
      <div class="c-body">
        <main class="c-main">
          <div class="container-fluid">
            <div class="fade-in">

              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="card">
                    <div class="card-body p-3 d-flex align-items-center">
                      <div class="bg-info p-3 mfe-3">
                        <svg class="c-icon c-icon-xl">
                          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-address-book"></use>
                        </svg>
                      </div>
                      <div>
                        <div class="text-value text-info" id="accountAddress"></div>
                        <div class="text-muted text-uppercase font-weight-bold small">Your Address</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-6">
                  <div class="card">
                    <div class="card-body p-3 d-flex align-items-center">
                      <div class="bg-info p-3 mfe-3">
                        <svg class="c-icon c-icon-xl">
                          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-money"></use>
                        </svg>
                      </div>
                      <div>
                        <div class="text-value text-bg-info" id="balanceId"></div>
                        <div class="text-muted text-uppercase font-weight-bold small">Your Balance</div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row" id="transactionLinkId" style="display: none;">
                <div class="col-12">
                  <div class="card bg-gradient-warning">
                    <div class="card-body p-3 d-flex align-items-center">
                      <div class="p-3 mfe-3">
                        <svg class="c-icon c-icon-xl">
                          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-applications"></use>
                        </svg>
                      </div>
                      <div>
                        <div class="text-value text-info" id="accountAddress"></div>
                        <div class="font-weight-bold"><h4>Click <a id="transactionHash" href="#" target="_blank">here</a> to see the details of the transaction in etherscan.</h4></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header"><strong>Add Bounty</strong></div>
                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-6">
                          <label for="nameId">Name</label>
                          <input class="form-control" id="nameId" type="text" placeholder="name">
                        </div>
                        <div class="form-group col-6">
                          <label for="urlId">URL</label>
                          <input class="form-control" id="urlId" type="text" placeholder="url">
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label for="startDateId">Start Date</label>
                          <div class="input-group date" id="startDateId" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" id="startDateValueId" data-target="#startDateId"/>
                            <div class="input-group-append" data-target="#startDateId" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        </div>

                        <div class="form-group col-sm-6">
                          <label for="duration">Duration</label>
                          <select class="form-control" id="durationId">
                            <option selected disabled>Select the duration</option>
                            <option value="1">1 Month</option>
                            <option value="3">3 Month</option>
                            <option value="6">6 Month</option>
                            <option value="9">9 Month</option>
                            <option value="12">12 Month</option>
                          </select>
                        </div>

                      </div>

                      <div class="row">
                        <div class="form-group col-4">
                          <label for="keyword1Id">Keyword1</label>
                          <input class="form-control" id="keyword1Id" type="text" placeholder="keyword1">
                        </div>
                        <div class="form-group col-4">
                          <label for="keyword2Id">Keyword2</label>
                          <input class="form-control" id="keyword2Id" type="text" placeholder="keyword2">
                        </div>
                        <div class="form-group col-4">
                          <label for="keyword3Id">Keyword3</label>
                          <input class="form-control" id="keyword3Id" type="text" placeholder="keyword3">
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-6">
                          <label for="descriptionId">Description</label>
                            <textarea class="form-control" id="descriptionId" name="description" rows="5" placeholder=""></textarea>
                        </div>
                        <div class="form-group col-6">
                          <label for="tosId">Terms Of Service</label>
                            <textarea class="form-control" id="tosId" name="tos" rows="5" placeholder="Term of service..."></textarea>
                        </div>
                      </div>

                      <div class="row pt-4">
                        <div class="form-group col-12">
                          <div class="row">
                            <div class="col-6">
                              <button class="btn btn-pill btn-success" type="button" id="add" onclick="openConditionModal();">
                                <svg class="c-icon">
                                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-plus"></use>
                                </svg>&nbsp;New Condition
                              </button>
                            </div>
                          </div>
                          <div class="row">
                            <div id="conditionList" class="mt-3 col">
                              <ul class="list" style="padding-left: 0;"></ul>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row mt-5">
                        <button class="btn btn-outline-success" id="addBountyBtn">Add Bounty</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="conditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">New Condition</h4>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="form-group col-12 col-lg-6">
                          <label for="numberOfUsersId">Number Of Users</label>
                          <input class="form-control" id="numberOfUsersId" type="number" min="1" placeholder="number of users">
                        </div>
                        <div class="form-group col-12 col-lg-6">
                          <label for="rewardId">Reward</label>
                            <input class="form-control" id="rewardId" type="number" placeholder="reward">
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-12 col-lg-6">
                          <label for="fromRankId">From Rank</label>
                          <input class="form-control" id="fromRankId" type="number" min="1" placeholder="from rank">
                        </div>
                        <div class="form-group col-12 col-lg-6">
                          <label for="toRankId">To Rank</label>
                            <input class="form-control" id="toRankId" type="number" min="1" placeholder="to rank">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-success" type="button" onclick="addCondition();">Save Condition</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <%- include('../partials/footer.html'); %>
      </div>
    </div>
  </body>
  <script src="/js/web3.min.js"></script>
  <script>
    const web3 = new Web3(window.web3.currentProvider);
  </script>

  <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
  <script src="vendors/@coreui/icons/js/svgxuse.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
  <script src="/js/jquery.preloader.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="/bower_components/toastr/toastr.js"></script>
  <script src="/app/abi.js"></script>
  <script src="/app/common.js"></script>
  <script src="/app/addBounty.js"></script>
</html>