<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./../">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <title>Bounty</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.bootstrap-v4.min.css"> -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <link rel="stylesheet" type="text/css" href="../bower_components/toastr/toastr.css">
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/preloader.css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> -->
    <!-- <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"> -->
    <link rel="stylesheet" href="/css/localStyle.css">
  </head>
  <body class="c-app">
    <%- include('../partials/sidebar.html'); %>
    <div class="c-wrapper c-fixed-components">
      <%- include('../partials/header.html'); %>
      <div class="c-body">
        <main class="c-main">
          <div class="container-fluid">
            <div class="fade-in container">

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <ul class="nav nav-tabs" id="myTab1" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#bountyInfoTabId" role="tab" aria-controls="bountyInfoTabId" aria-selected="false">Bounty Information</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#huntersInfoTabId" role="tab" aria-controls="huntersInfoTabId" aria-selected="true">Hunters</a>
                        </li>
                      </ul>
                      <div class="tab-content pt-5">
                        <div class="tab-pane fade active show" id="bountyInfoTabId" role="tabpanel" aria-labelledby="bounties-tab">
                          <div class="row">
                            <ul class="list-group list-group-flush col-12 col-md-6">
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Name:</span>
                                <strong id="name"></strong>
                              </li>
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Budget:</span>
                                <strong id="budget"></strong>
                                <small class="ml-3 pt-1 text-muted">ETH</small>
                              </li>
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">ID:</span>
                                <strong id="bountyId"></strong>
                              </li>
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Start Date:</span>
                                <strong id="startDate"></strong>
                              </li>
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Duration:</span>
                                <strong id="duration"></strong>
                              </li>
                            </ul>
                            <hr class="d-md-none d-block col-11">
                            <ul class="list-group list-group-flush col-12 col-md-6">
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Keyword1:</span>
                                <strong id="keyword1"></strong>
                              </li>
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Keyword2:</span>
                                <strong id="keyword2"></strong>
                              </li>
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Keyword3:</span>
                                <strong id="keyword3"></strong>
                              </li>
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Sender:</span>
                                <strong id="sender"></strong>
                              </li>
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Is Done:</span>
                                <strong ><label class="c-switch c-switch-label c-switch-pill c-switch-success">
                                  <input class="c-switch-input" type="checkbox" id="isDone">
                                  <span class="c-switch-slider" data-checked="✓" data-unchecked="✕"></span>
                                  </label></strong>
                              </li>
                            </ul>
                          </div>
                          <hr>
                          <div class="row">
                            <ul class="list-group list-group-flush col-12">
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">URL:</span>
                                <strong id="url"></strong>
                              </li>
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Description:</span>
                                <strong id="description"></strong>
                              </li>
                              <li class="list-group-item d-flex">
                                <span style="min-width: 25%;" class="text-muted">Terms Of Services:</span>
                                <strong id="tos"></strong>
                              </li>
                            </ul>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-md-6">
                              <ul class="list-group" id="condsListId">
                              </ul>
                            </div>
                          </div>
                          <div class="row pt-4 d-none" id="reBtnsId">
                            <div class="input-group col-12 col-md-6">
                              <button class="btn btn-outline-success mr-3" id="reNewBtnId" type="button">Re-New</button>
                              <button class="btn btn-outline-warning" id="refundBtnId" type="button">Refund</button>
                            </div>
                          </div>
                          <div class="card-footer py-4 mt-4" style="border-top:rgb(8, 190, 229) 4px solid;">
                              <div class="input-group mb-3 col-12 col-md-6">
                                <input type="text" class="form-control" placeholder="Enter Url" id="urlApplyHunterId">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-success" type="button" onclick="applyHunter()">Apply Hunter</button>
                                </div>
                              </div>
                          </div>


                        </div>
                        <div class="tab-pane fade" id="huntersInfoTabId" role="tabpanel" aria-labelledby="hunter-tab">
                          <table id="myHuntersInfoTabIdle" class="table table-striped table-bordered display nowrap text-center"
                          style="width: 100%;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>ID</th>
                                <th>User ID</th>
                                <th>URL</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th></th>
                                <th>ID</th>
                                <th>User ID</th>
                                <th>URL</th>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </main>
        <%- include('../partials/footer.html'); %>
      </div>
    </div>
  </body>
  <script src="/js/web3.min.js"></script>
  <script>
    const web3 = new Web3(window.web3.currentProvider);
  </script>

  <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
  <script src="vendors/@coreui/icons/js/svgxuse.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
  <script src="/js/jquery.preloader.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="/bower_components/toastr/toastr.js"></script>
  <script src="/app/abi.js"></script>
  <script src="/app/common.js"></script>
  <script src="/app/viewBounty.js"></script>
</html>