.dataTables_length {
  padding-top: 20px;
}

.dataTables_length label {
  display: inline-flex;
}

.dataTables_length label select {
  padding-right: 30px;
  margin: -3px 5px;
}

.page-item.active .page-link {
  background-color: #746fa7;
}

.paging_simple_numbers {
  float: right;
}

.dataTables_filter {
  float: right;
  min-width: 35%;
}

.dataTables_filter label {
  min-width: 100%;
}

.dataTables_filter label input {
  padding: 20px 10px;
  font-size: medium;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 21, 0.125);
}

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 33%;
  padding: 25px;
  text-align: center;
  background-color: rgb(254 254 254 / 86%);
  color: rgb(92 111 234);
  font-size: large;
  font-weight: bold;
}

#conditionList {
  /* height: 70px; */
}

#conditionList ul {
  height: 100%;
}

#conditionList ul li{
  height: 60%;
}

#conditionList ul li p{
  height: 100%;
}
